<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mazmorraazurefunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/75f70a5e-b096-43f6-bcb6-5e7088820559/resourceGroups/MazmorraAzureFunctions_group/providers/Microsoft.Web/sites/MazmorraAzureFunctions</ResourceId>
    <UserName>$MazmorraAzureFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://mazmorraazurefunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>